.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12rem;
}

.header-div-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 12.5rem;
}
